@media(max-width: 1300px) {

    body {
        background: url("../images/bg-mobile.svg") center 0 no-repeat;
        background-size: cover;
        background-color: var(--primary);
        position: absolute;
    }

    .main {
        flex-wrap: wrap;
    }

    .main .infos .container-btn {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 9rem;
    } 

    .main .infos .contacts {
        position: absolute;
        right:0; 
        left: 0;
        display: flex;
        justify-content: center;        
    }
}

@media(max-width: 825px) {
    body {
        background: url("../images/bg-mobile.svg") center 0 no-repeat;
        background-size: cover;
        background-color: var(--primary);
        position: absolute;
    }

    .main {
        flex-direction: column;
        justify-content: center;
    }

    .main .main-image {
        display: flex;
        justify-content: center;
    }

    .main .infos .text {
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

    .main .infos .container-btn {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 9rem;
    } 

    .main .infos .contacts {
        right: 0;
        position: absolute;
        display: flex;
        justify-content: center;        
    }
}

@media(max-width: 760px) {
    .main .main-image .image {
        width: 400px;
    }
}

@media(max-width: 485px) {
    body {
        background: url("../images/bg-mobile.svg") center 0 no-repeat;
        background-size: cover;
        background-color: var(--primary);
        position: absolute;
    }

    .header {
        padding: 28px 48px;
    }

    .main .main-image .image {
        width: 340px;
    }

    .main .infos {
        margin-top: 4rem;
        position: relative;
        margin: 0;
    }

    .main .infos .title {
        font-size: 27px;
        text-align: center; 
    }

    .main .infos .text {
        text-align: center;
        margin-top: 3rem;
        font-size: 18px;
    }

    .main .infos .container-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 9rem;
    } 

    .main .infos .contacts {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;        
    }
}


